.hero-section {
    height: 100vh;
    background-image: url('/images/pngbk.png'); /* Cambia a la ruta de tu imagen */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}
.hero-content h1 {
    color: black;
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    background-color: #ffffffa4;
}
.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}
.btn-primary {
    font-size: 1.1rem;
    padding: 12px 30px;
}

.lindex {
    background-color: rgba(0, 0, 0, 0.39);
    color: #fff;
    list-style: none;
    font-size: 20px;
    font-weight: 600;
}
.fondoForm {
    background-color: #ffffffa4;
    color: black;
    border-radius: 10px;
    padding: 10px;
}
.contacto {
    color: black;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
}